# Core functionality - changes here should be rare!
/src/app.py                   @jaxywaxy
/src/backend/database.py      @jaxywaxy
/src/backend/routers/auth.py  @jaxywaxy

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jaxywaxy
